<!DOCTYPE html>
<html>
<head>
	<title>{{ publisher_name }}</title>
</head>
<body>
    <!-- OTHER PAGES -->
    <a href="/search">Go to main page</a>
    &nbsp
    &nbsp
    <a href="/add_reference">Add a new reference</a>
    &nbsp
    &nbsp
    <a href="/add_author">Add author</a>
    &nbsp
    &nbsp
    <a href="/add_publisher">Add publisher</a>
    &nbsp
    &nbsp
    <a href="/genres">Genres</a>
    &nbsp
    &nbsp
    <a href="/countries">Countries</a>
    <!-- DISPLAY CURRENT INFORMATIONS OF THE PUBLISHER -->
	<h1>Publisher: {{ publisher_name }}</h1>

    <!-- UPDATE FORM PRE-FILLED WITH CURRENT INFOMRATIONS -->
    <form method="post">
        {% csrf_token %}
            New publisher name:
            <input type="text" name="new_publisher_name" value="{{ publisher_name }}" ><br>
 
    <button type="submit">Update</button>
    </form>

</body>
</html>